.table-1, .table-2, .tkt-slctr-tbl-wrap-dv {
    display: block;
    overflow-x: auto;
    margin: 40px 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
table {
    max-width: 100%;
    background-color: transparent;
}

table thead {
    background-color: var(--color-orang);
}
.table-2 table th {
    padding: 20px;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    height: 89px;
}
.table-2 .button-medium{
    text-transform: uppercase;
}
.table-2 .fontawesome-icon{
    color: var(--color-orang);
    text-align: center;
    float: left;
}
.table-2 tr td {
    border-bottom: 1px solid #dcdcdc;
    padding: 10px 20px;
}
.fusion-body .fusion-separator {
    display: flex;
    align-items: center;
}
.fusion-separator {
    clear: both;
    position: relative;
}
.fusion-separator-border {
    height: 8px;
    flex-grow: 2;
    border: 0 solid #e7e6e6;
}

.border-blocks{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -22px;
}
.border-blocks__item{
    width: calc(100% / 2 - 44px);
    margin: 0 22px;
    margin-bottom: 20px;
    border-width: 1px;
    border-color: rgb(253, 92, 3);
    border-style: solid;
    padding: 15px;
    text-align: center;
}

@media(max-width: 1115px){
    .border-blocks__item{
        width: calc(100% / 1 - 44px);
    }
}

.mob-acordion{
    display: none;
    margin: 40px 0;
}
.mob-acordion__row{
    border: 1px solid #fd5c03;
    background-color: #ffffff;
    margin-bottom: 10px;
    transition: 0.3s all;
    cursor: pointer;
}
.mob-acordion__title{
    padding: 15px 25px;
    display: flex;
    align-items: flex-start;
    font-size: 20px;
    font-weight: 600;
}

.mob-acordion .fa-fusion-box:before {
    font-family: IcoMoon;
    content: "\e61d";
    font-style: normal;
    line-height: normal;
    font-size: 13px;
    display: grid;
}
.mob-acordion__row .fa-fusion-box{
    background-color: #333333;
    border-color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    height: 29px;
    width: 29px;
}
.mob-acordion .fa-fusion-box:before {
    font-size: 20px;
    width: 20px;
}
.mob-acordion .fusion-toggle-icon-wrapper{
    margin-right: 18px;
}
.mob-acordion__row:hover{
    background-color: #f9f9f9;
    color: var(--color-orang);
    .fa-fusion-box{
        background-color: var(--color-orang);;
    }
}
.mob-acordion .active {
    .fa-fusion-box:before {
        content: "\e61c";
    }
}

.mob-acordion__row ul{
    margin: 0;
    padding: 0;
    padding: 15px 25px;
    display: none;
    li{
        list-style: none;
        padding: .7em 0;
        border-bottom: 1px solid #fd5c03;
        display: flex;
        align-items: flex-start;
        font-size: 24px;
        color: #000;
        i{
            margin-right: 25px;
        }
        p{
            margin: 0;
        }
    }
}

@media(max-width: 1115px){
    .mob-acordion{
        display: block;
    }
    .table-2{
        display: none;
    }
}

.gargue-numb{
    background-size: cover;
    background-position: center;
    border-top: 8px solid var(--color-orang);
    padding-top: 137px;
    padding-bottom: 137px;
    text-align: center;
    position: relative;
}
.gargue-numb:before{
    content: "";
    display: block;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    background-color: rgba($color: #000000, $alpha: 0.1);
}
.gargue-numb__title{
    font-size: 45px;
    font-weight: 600;
    margin: 30px 0;
}
.gargue__numb{
    font-size: 100px;
    background-color: #fff;
    font-weight: 600;
    line-height: 1.5;
    box-shadow: rgb(0 0 0 / 20%) 0px 10px 23px 0px;
    border-radius: 8px;
    .word1{
        display: flex;
        justify-content: center;
    }
}
.gargue-numb__wrap{
    max-width: 798px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

@media(max-width: 767px){
    .gargue__numb{
        font-size: 60px;
    }
    .gargue-numb__title{
        font-size: 32px;
    }
    .gargue-numb{
        padding-top: 40px;
        padding-bottom: 50px;
    }
}

.ask-block{
    padding: 87px 0;
}
.ask-title h2{
    margin-top: 0;
}
.ask-block__wrap{
    display: flex;
}
.ask-block__left{
    width: calc(100% - 350px);
    padding-right: 44px;
}
.ask-block__right{
    min-width: 350px;
    max-width: 350px;
    .footer__wrap__item{
        width: 100%;
        margin: 0;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
.mob-acordion--ask{
    display: block;
    .mob-acordion__title{
        font-size: 16px;
    }
    .fusion-toggle-icon-wrapper{
        margin-top: 0;
    }
    .mob-acordion__row .fa-fusion-box{
        background-color: #d0cece;
        color: var(--color-orang)
    }
    .mob-acordion__row:hover .fa-fusion-box{
        background-color: #003399;
    }
    .mob-acordion__row .text li{
        border: 0;
        padding: 0;
        padding-left: 30px;
        font-size: 16px;
        margin-bottom: 30px;
    }
}

.testimonials{
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border-radius: 6px;
    padding: 30px 15px;
    margin-top: 44px;
    color: #fff;
}
.testimonials__title{
    font-size: 30px;
    text-align: center;
    font-weight: 600;
}

.testimonials__title:after{
    content: "";
    display: block;
    border-bottom: 1px solid #fff;
    width: 100%;
    max-width: 100px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
.testimonials__text{
    max-width: 240px;
    margin: 0 auto;
    border-left: 2px solid var(--color-orang);
    padding: 15px;
    background-color: rgb(245, 245, 245);
    font-size: 16px;
    font-style: italic;
    color: #191919;
    margin-bottom: 32px;
}
.testimonials__avatar{
    height: 144px;
    width: 144px;
    margin: 0 auto;
    border-radius: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}
.testimonials__avatar__text{
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    font-weight: 700;
}

@media(max-width: 1115px){
    .ask-block__wrap{
        flex-direction: column;
    }
    .ask-block__left{
        width: 100%;
        padding-right: 0;
    }
    .ask-block__right{
        max-width: 100%;   
        min-width: initial;
    }
    .testimonials__text{
        max-width: 400px;
    }
}