.terms-con{
    .panel-heading{
        padding-right: 0;
        padding-left: 0;
    }
    .panel-body{
        padding-right: 0;
        padding-left: 0;
    }
    .fusion-panel:hover{
        background-color: transparent;
    }
}