<div id="sliders-container" class="swiper wow fadeIn">

    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="sliders-container__item" style="background-image: url(./img/main/1.jpeg);">
                <div class="wrap">
                    <div class="sliders-container__item__center">
                        <div class="title">FACT: 1 in 5 Vehicles Will Have a Breakdown This Year</div>
                        <div class="sub-title">Avoid costly unexpected vehicle repairs.</div>
                        <div class="btns">
                            <a href="" class="btn">
                                View All Plans
                            </a>
                            <a href="" class="btn">
                                GET STARTED
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="sliders-container__item " style="background-image: url(./img/main/2.jpeg);">
                <div class="wrap">
                    <div class="sliders-container__item__center">
                        <div class="title">Don't Get Left Stranded
                        </div>
                        <div class="sub-title">Get emergency roadside assistance when you need it most.
                        </div>
                        <div class="btns">
                            <a href="" class="btn">
                                View All Plans
                            </a>
                            <a href="" class="btn">
                                GET STARTED
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="sliders-container__item " style="background-image: url(./img/main/3.jpg);">
                <div class="wrap">
                    <div class="sliders-container__item__center">
                        <div class="title">Use Your Favorite Mechanic
                        </div>
                        <div class="sub-title">Take your vehicle to any certified mechanic nationwide for repairs.
                        </div>
                        <div class="btns">
                            <a href="" class="btn">
                                View All Plans
                            </a>
                            <a href="" class="btn">
                                GET STARTED
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>