html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  text-size-adjust: 100%;
  color: rgb(25,25,25);
  font-size: 16px;
  line-height: 1.5;
  font-stretch: 100%;
  font-weight: 400;
  min-width: 320px;
  background-color: #fff;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden; // если используете на сайте position: sticky - уберите эту настройку
}

.is-hidden {
  display: none !important; // stylelint-disable-line declaration-no-important
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.wrap {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1390px;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}
:root {
  --adminbar-height: 32px;
  --font-two: 'Poppins';
  --color-orang: #fc6311;
  --black: rgb(51, 51, 51);
}
:root {
  --button_padding: 11px 23px;
  --button_font_size: 13px;
  --button_line_height: 16px;
}
:root {
  --site_width: 1140px;
  --site_width-int: 1140;
  --margin_offset-top: 0px;
  --margin_offset-bottom: 0px;
  --margin_offset-top-no-percent: 0px;
  --margin_offset-bottom-no-percent: 0px;
  --main_padding-top: 0px;
  --main_padding-top-or-55px: 0px;
  --main_padding-bottom: 0px;
  --hundredp_padding: 30px;
  --hundredp_padding-fallback_to_zero: 30px;
  --hundredp_padding-fallback_to_zero_px: 30px;
  --hundredp_padding-hundred_percent_negative_margin: -30px;
  --sidebar_width: 23%;
  --sidebar_gutter: 6%;
  --sidebar_2_1_width: 21%;
  --sidebar_2_2_width: 21%;
  --dual_sidebar_gutter: 3%;
  --grid_main_break_point: 1000;
  --side_header_break_point: 1115;
  --content_break_point: 1004;
  --typography_sensitivity: 0.54;
  --typography_factor: 1.50;
  --primary_color: #fd5c03;
  --primary_color-85a: rgba(253,92,3,0.85);
  --primary_color-7a: rgba(253,92,3,0.7);
  --primary_color-5a: rgba(253,92,3,0.5);
  --primary_color-35a: rgba(253,92,3,0.35);
  --primary_color-2a: rgba(253,92,3,0.2);
  --header_bg_image: ;
  --header_bg_repeat: no-repeat;
  --side_header_width: 280px;
  --side_header_width-int: 280;
  --header_padding-top: 0px;
  --header_padding-bottom: 0px;
  --header_padding-left: 0px;
  --header_padding-right: 0px;
  --menu_highlight_background: #65bc7b;
  --menu_arrow_size-width: 23px;
  --menu_arrow_size-height: 12px;
  --menu_arrow_size-width-header_border_color_condition_5: ;
  --nav_highlight_border: 3px;
  --nav_padding: 45px;
  --nav_padding-no-zero: 45px;
  --dropdown_menu_top_border_size: 3px;
  --dropdown_menu_width: 180px;
  --mainmenu_dropdown_vertical_padding: 7px;
  --menu_sub_bg_color: #f2efef;
  --menu_bg_hover_color: #f8f8f8;
  --menu_sub_sep_color: #dcdadb;
  --menu_h45_bg_color: #ffffff;
  --nav_typography-font-family: Poppins;
  --nav_typography-font-weight: 600;
  --nav_typography-font-size: 17px;
  --nav_typography-font-style: ;
  --nav_typography-letter-spacing: 1px;
  --nav_typography-color: #ffffff;
  --nav_typography-color-65a: rgba(255,255,255,0.65);
  --nav_typography-color-35a: rgba(255,255,255,0.35);
  --menu_hover_first_color: #fd5c03;
  --menu_hover_first_color-65a: rgba(253,92,3,0.65);
  --menu_sub_color: #333333;
  --nav_dropdown_font_size: 15px;
  --flyout_menu_icon_font_size: 20px;
  --flyout_menu_icon_font_size_px: 20px;
  --snav_font_size: 12px;
  --sec_menu_lh: 50px;
  --header_top_menu_sub_color: #747474;
  --mobile_menu_icons_top_margin: 24px;
  --mobile_menu_nav_height: 35px;
  --mobile_header_bg_color: #fc8646;
  --mobile_menu_background_color: #000000;
  --mobile_menu_hover_color: #feba12;
  --mobile_menu_border_color: rgba(218,218,218,0);
  --mobile_menu_toggle_color: #feba12;
  --mobile_menu_typography-font-family: Poppins;
  --mobile_menu_typography-font-size: 18px;
  --mobile_menu_typography-font-weight: 600;
  --mobile_menu_typography-line-height: 35px;
  --mobile_menu_typography-letter-spacing: 0px;
  --mobile_menu_typography-color: #ffffff;
  --mobile_menu_typography-font-style: ;
  --mobile_menu_typography-font-size-30-or-24px: 24px;
  --mobile_menu_typography-font-size-open-submenu: var(--mobile_menu_typography-font-size, 13px);
  --mobile_menu_font_hover_color: #333333;
  --menu_icon_size: 14px;
  --logo_alignment: left;
  --logo_background_color: #65bc7b;
  --slidingbar_width: 300px;
  --slidingbar_width-percent_to_vw: 300px;
  --slidingbar_content_padding-top: 60px;
  --slidingbar_content_padding-bottom: 60px;
  --slidingbar_content_padding-left: 30px;
  --slidingbar_content_padding-right: 30px;
  --slidingbar_bg_color: #363839;
  --slidingbar_divider_color: #282a2b;
  --slidingbar_link_color: #bfbfbf;
  --slidingbar_link_color_hover: #65bc7b;
  --footer_divider_color: #26303e;
  --footer_headings_typography-font-family: "Open Sans";
  --footer_headings_typography-font-size: 14px;
  --footer_headings_typography-font-weight: 600;
  --footer_headings_typography-line-height: 1.5;
  --footer_headings_typography-font-style: ;
  --footer_headings_typography-letter-spacing: 0px;
  --footer_headings_typography-color: #ffffff;
  --footer_text_color: #ffffff;
  --sidebar_bg_color: rgba(255,255,255,0);
  --bg_image: none;
  --bg_repeat: no-repeat;
  --bg_color: #d7d6d6;
  --bg-color-overlay: normal;
  --bg_pattern: url(//www.completecar.com/wp-content/themes/Avada/assets/images/patterns/pattern1.png);
  --content_bg_color: #ffffff;
  --content_bg_image: none;
  --content_bg_repeat: no-repeat;
  --body_typography-font-family: "Open Sans";
  --body_typography-font-size: 16px;
  --base-font-size: 16;
  --body_typography-font-weight: 400;
  --body_typography-font-style: ;
  --body_typography-line-height: 1.5;
  --body_typography-letter-spacing: 0px;
  --body_typography-color: #191919;
  --link_color: #212934;
  --link_color-8a: rgba(33,41,52,0.8);
  --h1_typography-font-family: "Open Sans";
  --h1_typography-font-weight: 600;
  --h1_typography-line-height: 1;
  --h1_typography-letter-spacing: 0px;
  --h1_typography-font-style: ;
  --h1_typography-font-size: 65px;
  --h1_typography-color: #ffffff;
  --h1_typography-margin-top: 0px;
  --h1_typography-margin-bottom: 0px;
  --h2_typography-font-family: "Open Sans";
  --h2_typography-font-weight: 600;
  --h2_typography-line-height: 1;
  --h2_typography-letter-spacing: 0px;
  --h2_typography-font-style: ;
  --h2_typography-font-size: 45px;
  --h2_typography-color: #191919;
  --h2_typography-margin-top: 0em;
  --h2_typography-margin-bottom: 1.1em;
  --h3_typography-font-family: "Open Sans";
  --h3_typography-font-weight: 600;
  --h3_typography-line-height: 1.5;
  --h3_typography-letter-spacing: 0px;
  --h3_typography-font-style: ;
  --h3_typography-font-size: 35px;
  --h3_typography-color: #191919;
  --h3_typography-margin-top: 1em;
  --h3_typography-margin-bottom: 1em;
  --h4_typography-font-family: "Open Sans";
  --h4_typography-font-weight: 600;
  --h4_typography-line-height: 1.5;
  --h4_typography-letter-spacing: ;
  --h4_typography-font-style: ;
  --h4_typography-font-size: 15px;
  --h4_typography-color: #191919;
  --h4_typography-margin-top: 1.33em;
  --h4_typography-margin-bottom: 1.33em;
  --h5_typography-font-family: "Open Sans";
  --h5_typography-font-weight: 400;
  --h5_typography-line-height: 1.5;
  --h5_typography-letter-spacing: 0px;
  --h5_typography-font-style: ;
  --h5_typography-font-size: 14px;
  --h5_typography-color: #191919;
  --h5_typography-margin-top: 1.67em;
  --h5_typography-margin-bottom: 1.67em;
  --h6_typography-font-family: "Open Sans";
  --h6_typography-font-weight: 400;
  --h6_typography-line-height: 1.5;
  --h6_typography-letter-spacing: 0px;
  --h6_typography-font-style: ;
  --h6_typography-font-size: 12px;
  --h6_typography-color: #191919;
  --h6_typography-margin-top: 2.33em;
  --h6_typography-margin-bottom: 2.33em;
  --post_title_typography-font-family: "Open Sans";
  --post_title_typography-font-weight: 400;
  --post_title_typography-line-height: 1.5;
  --post_title_typography-letter-spacing: 0px;
  --post_title_typography-font-style: ;
  --post_title_typography-font-size: 26px;
  --post_title_typography-color: #191919;
  --post_titles_extras_typography-font-family: "Open Sans";
  --post_titles_extras_typography-font-weight: 400;
  --post_titles_extras_typography-line-height: 1.5;
  --post_titles_extras_typography-letter-spacing: 0px;
  --post_titles_extras_typography-font-style: ;
  --post_titles_extras_typography-font-size: 18px;
  --post_titles_extras_typography-color: #191919;
  --blog_archive_grid_column_spacing: 40px;
  --dates_box_color: #eef0f2;
  --meta_font_size: 12px;
  --portfolio_archive_column_spacing: 20px;
  --portfolio_meta_font_size: 13px;
  --social_bg_color: #f6f6f6;
  --social_bg_color-0-transparent: ;
  --sharing_social_links_icon_color: #bebdbd;
  --sharing_social_links_box_color: #e8e8e8;
  --sharing_social_links_boxed_padding: 8px;
  --slider_nav_box_dimensions-width: 30px;
  --slider_nav_box_dimensions-height: 30px;
  --slider_arrow_size: 14px;
  --es_caption_font_size: 20px;
  --privacy_bg_color: rgba(0,0,0,0.1);
  --privacy_color: rgba(0,0,0,0.3);
  --privacy_bar_padding-top: 15px;
  --privacy_bar_padding-bottom: 15px;
  --privacy_bar_padding-left: 30px;
  --privacy_bar_padding-right: 30px;
  --privacy_bar_bg_color: #363839;
  --privacy_bar_font_size: 13px;
  --privacy_bar_color: #8c8989;
  --privacy_bar_link_color: #bfbfbf;
  --privacy_bar_link_hover_color: #65bc7b;
  --privacy_bar_headings_color: #dddddd;
  --image_rollover_icon_size: 15px;
  --image_rollover_text_color: #333333;
  --pagination_width_height: 30px;
  --pagination_box_padding-width: 6px;
  --pagination_box_padding-height: 2px;
  --pagination_border_width: 1px;
  --pagination_border_radius: 0px;
  --pagination_font_size: 12px;
  --form_input_height: 60px;
  --form_input_height-main-menu-search-width: calc(250px + 1.43 * 60px);
  --form_bg_color: #ffffff;
  --form_text_size: 14px;
  --form_text_color: #c9c7c7;
  --form_text_color-35a: rgba(201,199,199,0.35);
  --form_border_width: 1px;
  --form_border_color: #d2d2d2;
  --form_focus_border_color: #d2d2d2;
  --form_border_radius: 6px;
  --timeline_bg_color: rgba(255,255,255,0);
  --timeline_bg_color-20px-transparent: ;
  --timeline_bg_color-not-transparent: #ffffff;
  --timeline_color: #ebeaea;
  --grid_separator_color: #ebeaea;
  --carousel_nav_color: rgba(0,0,0,0.6);
  --carousel_hover_color: rgba(0,0,0,0.7);
  --button_typography-font-family: Poppins;
  --button_typography-font-weight: 600;
  --button_typography-letter-spacing: 1px;
  --button_typography-font-style: ;
  --button_text_transform: uppercase;
  --button_gradient_top_color: #fc6311;
  --button_gradient_bottom_color: #fc6311;
  --button_gradient_top_color_hover: #0051ba;
  --button_gradient_bottom_color_hover: #0051ba;
  --button_accent_color: #ffffff;
  --button_accent_hover_color: #ffffff;
  --button_bevel_color: #33a532;
  --button_box_shadow: none;
  --button_border_width: 0px;
  --button_border_radius: 4px;
  --button_border_color: #fc6311;
  --button_border_hover_color: #33a532;
  --checklist_icons_color: #feba12;
  --checklist_circle_color: rgba(101,188,123,0);
  --checklist_divider_color: #e0dede;
  --countdown_background_color: #65bc7b;
  --countdown_counter_box_color: #333333;
  --countdown_counter_text_color: #ffffff;
  --countdown_label_color: #ffffff;
  --countdown_heading_text_color: #ffffff;
  --icon_color: #feba12;
  --icon_color_hover: #feba12;
  --icon_circle_color: rgba(51,51,51,0);
  --icon_circle_color_hover: rgba(51,51,51,0);
  --icon_border_size: #ffffff;
  --icon_border_color: rgba(51,51,51,0);
  --icon_border_color_hover: rgba(51,51,51,0);
  --pricing_box_color: #92c563;
  --sep_color: #e0dede;
  --tabs_bg_color: #ffffff;
  --tabs_inactive_color: #ebeaea;
  --tabs_border_color: #ebeaea;
  --testimonial_bg_color: #f6f6f6;
  --testimonial_text_color: #747474;
  --title_border_color: #e0dede;
  --accordian_inactive_color: #333333;
  --accordian_active_color: #feba12;
}
body {
  --fusion-audio-max-width-default: 100%;
  --fusion-audio-background-color-default: #222222;
  --fusion-audio-accent-color-default: #ffffff;
  --fusion-audio-border-size-default: 0;
  --fusion-audio-border-color-default: #ffffff;
  --fusion-audio-border-top-left-radius-default: 0px;
  --fusion-audio-border-top-right-radius-default: 0px;
  --fusion-audio-border-bottom-right-radius-default: 0px;
  --fusion-audio-border-bottom-left-radius-default: 0px;
  --fusion-video-max-width-default: 100%;
}