// базовые подключения
@import "vars";
@import "fonts";
@import "mixins";
@import "settings";

.wrap{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding-right: 30px;
    padding-left: 30px;
}
.wrap2{
    max-width: 1397px;
    width: 100%;
    margin: 0 auto;
    padding-right: 30px;
    padding-left: 30px;
}
.wrap3{
    max-width: 1013px;
    width: 100%;
    margin: 0 auto;
    padding-right: 30px;
    padding-left: 30px;
}
@media(max-width: 767px){
    .wrap{
        padding-right: 20px;
        padding-left: 20px;
    }
    .wrap2{
        padding-right: 20px;
        padding-left: 20px;
    }
    .wrap3{
        padding-right: 20px;
        padding-left: 20px;
    }
}
a{
    color: inherit;
}
a:hover{
    color: var(--color-orang);
}
.app{
    max-width: 2400px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    padding: 13px 29px;
    font-weight: 600;
    color: #fff;
    border-radius: 4px;
    letter-spacing: 1px;
    border: 0;
    background-color: #fc6311;
    transition: 0.2s ease-in-out;
    font-family: var(--font-two);
    text-transform: uppercase;
}

.btn-white{
    background-color: #fff;
    color: #000;
}
.btn:hover{
    background-color: #0051ba;
    color: #fff;
}
.button-default:hover{
    color: #fff;
}
.text-center{
    text-align: center;
}
@import './components/header.scss';
@import './components/index.scss';
@import './components/footer.scss';
@import './components/about-us.scss';
@import './components/privacy.scss';
@import './components/carguard.scss';
@import './components/contact-us.scss';
@import './components/garage-talk.scss';
@import './components/glossary.scss';
@import './components/how-it-works.scss';
@import './components/repairpal.scss';
@import './components/terms-conditions.scss';
@import './components/warranty.scss';
